<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="mySidebar" class="sidebar">

  <a routerLink=""><i class="fa-solid fa-house espaco"></i>Home</a>
  <a routerLink="vendas"><i class="fa-solid fa-shop espaco"></i>Vendas</a>
  <a routerLink="catalogo"><i class="fa-solid fa-newspaper espaco"></i>Catálogo</a>
  <a routerLink="relatorio"><i class="fa-solid fa-money-bill-trend-up espaco"></i>Relatório</a>
  <a routerLink="estoque"><i class="fa-solid fa-warehouse espaco"></i>Estoque</a>
  <a routerLink="sobre"><i class="fa-solid fa-circle-info espaco"></i>Sobre</a>

</div>
