<div class="container mt-5">

  <div class="row">

    <div class="col-lg-8 offset-lg-2">

      <div class="card">

        <div class="card-body text-center">

          <span class="titulo">Lista de produtos</span>

          <button class="btn btn-success float-end" routerLink="/criar-produto">Novo produto</button>

          <table class="table table-striped mt-2">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Local</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Caponata</th>
                <td>Antepasto</td>
                <td>Estoque</td>
                <td>25,00</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Homus</th>
                <td>Molhos</td>
                <td>Estoque/td>
                <td>15,00</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Bolo de maçã</th>
                <td>Sobremesa</td>
                <td>Produção</td>
                <td>30,00</td>
                <td>
                  <i class="fas fa-edit text-primary"></i>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>

</div>
