<div class="container mt-5">

  <div class="row">

    <div class="col-lg-8 offset-lg-2">

      <div class="card">

        <div class="card-body text-center">

          <span class="titulo"> LISTA DE PRODUTOS </span>

          <button class="btn btn-success float-end" routerLink="/criar-produto">Novo produto</button>

          <table *ngIf="listProdutos.length > 0" class="table table-striped mt-2">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Local</th>
                <th scope="col">Código de Barras</th>
                <th scope="col">Quantidade em estoque</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of listProdutos">
                <td>{{ produto.nome }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.local }}</td>
                <td>{{ produto.codBarras }}</td>
                <td>{{ produto.qtdeEstoque }}</td>
                <td>{{ produto.preco | currency:'BRL'}}</td>
                <td>
                  <i [routerLink]="['/editar-produto', produto._id]" class="fas fa-edit text-primary"></i>
                  <i (click)="deletarProduto(produto._id)" class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <h5 style="text-align: start; margin-top: 10px" *ngIf="listProdutos.length == 0">Não há produtos para exibir!</h5>

        </div>

      </div>

    </div>

  </div>

</div>
